/* Basic reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}


/* Style the header */
/* header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  } */
/* header {
    display: flex;
    background-color: #4989ff;
    text-align: center;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

header {
    text-align: center;
    background-color: #4989ff;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
  nav {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 20%;
    width: 100%;
    background: #ccc;
    padding: 10px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  article {
    display: flex;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }



/* Example styles for project section */

.project {
    display: flex;
    justify-content: left;
    align-items: right;
    margin-bottom: 20px;
}
.project img {
    /* flex: 0; */
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    height: auto;
    margin-right: auto; 
    margin-left: auto;
}
.project-description {
    flex: 1;
}

.text_center_custom {
    flex: 1;
    text-align: center;
    align-items: center;
}


.project_title_style {
  flex: 1;
  text-align: center;
  align-items: center;
  font-size: 30px;
}
.paragraph_style {
  font-size: 25px;
}